/*<--- interface --->*/
body
  +light
  color: $text-color
.button-o
  padding: 17px 22px
  border: 2px solid $primary
  +bold
  font-size: 12px
  color: $primary
  background-color: #fff
  text-transform: uppercase
  cursor: pointer
  outline: none
.button
  padding: 25px 45px
  border: none
  +bold
  background-color: $primary
  color: #ffffff
  text-transform: uppercase
@media (max-width: 576px)
  .button-o
    font-size: 10px